html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Đặt class */
.default{
    background-color: white;
    color: #0078c2;
}
.active{
    background-color:#0078c2;
    color: white;
}
a,li{
    list-style-type: none;
    text-decoration: none;
}
/* Heading-title */
.text{
    margin-left: 5rem;
    margin-right: 2rem;
}
.heading-title {
    margin-top: 3em;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.heading-title .text > p{
    font-size: 3em;
    font-weight: 700;
    text-shadow: 0px 0px 20px #21ccf3;
}
.text .destination > p{
    font-size: 1.5em;
}
/* Bảng thông tin điểm đến */
.info-place{
    width: 300px;
    height: 360px;
    color: #51af43;
    text-align: justify;
    border: 1px #51af43 solid;
    border-radius: 10px;
    margin-left: 1rem;
    margin-right: 3rem;
}
.info-place i{
    font-weight: 700;
    font-size: 1.5em;
}
.info-place > .fact{
    margin: 1em;
}
.info-place h3{
    text-align: center;
    margin-top: 10px;
}
.heading-image{
    width: 100vw;
    height: 40vh;
}
.heading-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.heading{
    text-align: center;
}
.heading .destination{
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.heading .destination p{
    text-align: justify;
    margin-top: 1em;
    padding-right: 15%;
    padding-left: 15%;
    margin-bottom: 3rem;
}
/* Discover Phú Quốc */
.title {
    width: 90vw;
    font-size: 2rem;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}
.discover{
    width: 90vw;  
    margin-left: auto;
    margin-right: auto; 
    border: 0.3rem #eee solid;
    border-radius: 15px;
}
/* Tab - nav */
.tabs-nav ul{
    display: flex;
}
.tabs-nav{
    width: 100%;
    height: 20%;
    margin-bottom: 0.5em;
    background-color: #eee;
}
.tabs-nav li{
    padding: 10px;
    margin-right: 5px;
    border-radius: 10px 10px 0 0;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer !important;
}
.landscapes,
.foods,
.actives,
.transit{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.item{
    background-color: rgb(200, 200, 200);
    margin: 5px;
    cursor:  pointer !important;
    border-radius: 10px;
}
.item .image{
    width: 100%;
    height: 15em;
    margin-bottom: 1em;
    overflow: hidden;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}
.item .image:hover img{
    transform: scale(1.05);
}
.info{
    text-align: center;
    margin-bottom: 1em;
}
.info p:first-child{  
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
}
/* Hightbox */
.hightbox-content{
    width: 90.05vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(159, 159, 159, 0.259);
}
.hightbox-content > div{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    overflow-y: scroll;
    padding: 0.5em 2em 2em;
}
.hightbox-content a{
    margin-left: 100%;
    font-size: 1.5em;
    color: red;
}
.hightbox-content
.hightbox-content .image > img{
    width: 100%;
    object-fit: cover;
}
.hightbox-content .describe{
    text-align: justify;
    margin-top: 2em;
}
.hightbox-content .describe *{
    margin-top: 1em;
}
.hightbox-content .describe h2{
    padding-bottom: 0.5em;
    border-bottom: 0.5px #7a868e solid;
}
.hightbox-content .describe li{
    margin-left: 2em;
    list-style-type: disc;
}
/* Kinh nghiệm */
.experience{
    width: 90vw;
    margin: 1.5em auto;
    padding: 1.5em;
    background-color: rgba(159, 159, 159, 0.259);
    text-align: justify;
    border-radius: 15px;
}
.experience li{
    margin-bottom: 10px;
}
.experience p:not(:first-child){
    color: red;
    font-size: 1.5em;
}
/* MAP */
.map{
    width: 90vw;
    margin: 2rem auto;
}
.map iframe{
    width: 100%;
}
.map p,
.experience p{
    font-size: 2rem;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}